@use './styles/progress-bar.scss';
@use './styles/helpers.scss';
@use './styles/theme-colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}